node_modules/
dist/
dist-ssr/

src-tauri/target/
src-tauri/server.mjs
src-tauri/gen/
*.dmg

.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

graphify-out/
